body{
    margin:0;
    padding:0;
    background:url(/images/fuegoGrande.jpg) no-repeat center top;
    background-size:cover;
    height:100vh;
}
.login-box{
    width:320px;
    height:500px;
    background-color:#000;
    color:#fff;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%, -45%);
    box-sizing:border-box;
    padding:70px 30px;
    border-radius:30px;
    box-shadow:10px 10px 30px #000;
}
.login-box .avatar{
    width:150px;    
    position:absolute;
    transform:translateY(-130%) translateX(-50%);
    margin-top:15px;
}
.login-box .avatar:hover{
    filter:drop-shadow(2px 2px 20px gray);
}
.login-box h1{
    margin:0;
    padding:0 0 10px;
    text-align:center;
    font-size:22px;
    top:-100px;
}
.login-box label{
    margin:0;
    padding:0;
    display:block;
    text-align:left;
}
.login-box input{
    width:100%;
    margin-bottom:20px;
    float:left;
}
.login-box input[type=text],
.login-box input[type=password],
.login-box input[type=email]{
    border:none;
    border-bottom:2px solid #fff;
    background:rgba(0,0,0,0);outline:none;
    height:40px;color:#fff;
    font-size:16px;
}
.login-box input[type=submit]{
    border:none;
    outline:none;
    height:40px;
    font-weight:bold;
    border-radius:30px;
    background-color:#fff;
}
.login-box input[name=crearUnEvento]{
    background-color:rgba(0,0,0,0);
    color:#fff;
    box-shadow:0px 0px 1px #fff
}
.login-box .btn-ver-pass{
    color:#fff;
}
.login-box input[type=submit]:hover{
    background-color:#242424;
    color:#fff;
}
.login-box a{
    text-decoration:none;
    font-size:12px;
    line-height:20px;
    color:#4f4f4f;
}
.login-box a:hover{
    color:#fff;
}

.login-box .btn-ver-pass {
  color: white;
}

.login-box input[type=submit]:hover {
  background-color: rgb(36, 36, 36);
  color: #fff;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: rgb(79, 79, 79);
}

.login-box a:hover {
  color: white;
}